:root {
  --text-0: rgba(205, 214, 244, 100%);
  --text-1: rgba(166, 173, 200, 100%);

  --bg-0: rgba(30, 30, 46, 100%);
  --bg-1: rgba(24, 24, 37, 100%);
  --bg-2: rgba(17, 17, 27, 100%);

  --primary-color: rgba(137, 180, 250, 100%);
  --hover-color: rgba(88, 91, 112, 100%);
}